<div id="registration">
    <h2>Sign Up</h2>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" placeholder="Type your first name">
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" placeholder="Type your last name">
    <label for="register_username">Username:</label>
    <input type="text" id="register_username" name="username_registration" placeholder="Type your new username">
    <label for="register_password">Password:</label>
    <input type="password" id="register_password" name="password_registration" placeholder="Type your new password">
    <div id="registration-buttons">
        <button id="sign-up">Sign Up</button>
        <button id="go-to-login">Go to Login</button>
    </div>
</div>