h3 {
    font-size: 1.5em;
    margin: 0.5rem;
    padding: 0;
    border-bottom: #000 solid 1px;
}
ul {
    padding: 0;
    margin: 0.5rem;
}
li {
    list-style-type: none;
}
#future-courses {
    margin: 0 1rem;
    text-align: center;
    border: #000 solid 1px;
    background-color: rgb(73, 104, 243);
}
.prerequisites {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: #fff;
    font-style: italic;
}
.label {
    font-weight: bold;
    text-decoration: underline;
    margin: 0.5rem;
}
.text-green {
    color: #00ff00;
}
.text-red {
    color: #ff0000;
}