<div id="future-courses">
    <h3>Future Courses</h3>
    <ul>
        <li *ngFor="let course of futureCourses">
            {{course.Title}} - {{course.Number}}
            <p class="label">Prerequisites:</p>
            <ul>
                <li *ngFor="let prerequisite of course.Prerequisites" class="prerequisites">
                    {{prerequisite}}
                </li>
            </ul>
            <p class="prerequisites" 
               [ngClass]="{
                   'text-green': hasCompletedAllPrerequisites(course),
                   'text-red': !hasCompletedAllPrerequisites(course)
               }">
                Status: {{getPrerequisiteStatus(course)}}
            </p>
        </li>
        <li *ngIf="futureCourses.length === 0">No future courses planned</li>
    </ul>
</div>