h3 {
    font-size: 1.5em;
    margin: 0.5rem;
    padding: 0;
    border-bottom: #000 solid 1px;
}
ul {
    padding: 0;
    margin: 0.5rem;
}
li {
    list-style-type: none;
}
#future-courses {
    margin: 0 1rem;
    text-align: center;
    border: #000 solid 1px;
    background-color: rgb(73, 104, 243);
}