button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin: 0rem 1rem;
    background-color: rgb(251, 99, 119);
    box-shadow: 0 9px #999;
}
h1 {
    margin: 0;
    padding: 2rem 0;
    color: #333;
    text-align: center;
    border-bottom: #333 1px solid;
    padding-bottom: 10px;
    margin: 0rem 1rem;
}
#header-container {
    position: relative;
    text-align: center;
    padding-top: 20px;
}
#main-title {
    margin: 0 1rem;
}
#login-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
button:hover {
    background-color: red;
    color: white;
}
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}