#available-courses {
    text-align: center;
}
ul {
    padding: 0;
    margin: 0.5rem;
}
li {
    list-style-type: none;
}
h3 {
    font-size: 1.5em;
    margin: 0.5rem;
    padding: 0;
    border-bottom: #000 solid 1px;
}
.move-button {
    padding: 3px 6px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
    background-color: #2196F3;
    color: white;
}
.move-button:hover {
    background-color: #0b7dda;
}
.move-button:active {
    transform: translateY(1px);
}
.label {
    font-weight: bold;
    text-decoration: underline;
    margin: 0.5rem;
}
.semesters {
    font-size: 0.8rem;
    color: #fff;
    font-style: italic;
}