<div id="available-courses">
    <h3>Available Courses</h3>
    <ul>
        <li *ngFor="let course of availableCourses">
            {{course.Title}} - {{course.Number}} ({{course.CreditHours}} credits)
            <button (click)="markAsPassed(course)" class="move-button">←</button>
            <p class="label">Available Semesters:</p>
            <ul>
                <li *ngFor="let semester of course.SemesterAvailability" class="semesters">
                    {{semester}}
                </li>
            </ul>
        </li>
        <li *ngIf="availableCourses.length === 0">No available courses found</li>
    </ul>
</div>