<app-app-header></app-app-header>
<app-major-details></app-major-details>
<div id="container">
    <div id="left">
        <app-passed-courses></app-passed-courses>
    </div>
    <div id="center">
        <app-plans></app-plans>
        <app-available-courses></app-available-courses>
    </div>
    <div id="right">
        <app-future-courses></app-future-courses>
    </div>
</div>
<div id="login-container" *ngIf="authenticated">
    <app-login-form></app-login-form>
</div>
<div id="registration-container" *ngIf="authenticated">
    <app-registration-form></app-registration-form>
</div>