#plans {
    text-align: center;
}
ul {
    padding: 0;
    margin: 0.5rem;
}
li {
    list-style-type: none;
}
h3 {
    font-size: 1.5em;
    margin: 0.5rem;
    padding: 0;
    border-bottom: #000 solid 1px;
}