#plans {
    text-align: center;
}
ul {
    padding: 0;
    margin: 0.5rem;
}
li {
    list-style-type: none;
}
h3 {
    font-size: 1.5em;
    margin: 0.5rem;
    padding: 0;
    border-bottom: #000 solid 1px;
}
#fall {
    float: left;
    position: relative;
    left: 10rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
#spring {
    float: right;
    position: relative;
    right: 10rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 1200px) {
    #fall {
        left: 5rem
    }
    #spring {
        right: 5rem;
    }
}